<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844039241960-u56mfvqe5podo86frtao8p61q2iud4g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844039241960-u56mfvqe5podo86frtao8p61q2iud4g2</string>
	<key>API_KEY</key>
	<string>AIzaSyDpnzOJrs6usbpjku2JxNcnl3zqrCUM4Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>844039241960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-app-f3f03</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-app-f3f03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844039241960:ios:9ad9551f69d1b86027095d</string>
</dict>
</plist>